.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.counter-wrapper {
    display: flex;
}

.counter {
    text-align: center;
    width: 3em;
}

.plus-button,
.minus-button {
    color: white;
    background: #161616;
}

.plus-button:hover,
.minus-button:hover {
    color: white;
    background: #161616;
    transition: all 150ms linear;
    opacity: .85;
}